@import '../../scss/global';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  z-index: 1;
  .title {
    font-size: 5em;
    // text-shadow: 1px 3px 4px #717171;
    filter: drop-shadow(1px 3px 1px #686868);
    -webkit-filter: drop-shadow(1px 3px 1px #686868);
    color: #f1fba7;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(#f1fba7, #b3bd67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    span {
      color: $color-primary;
      background: -webkit-linear-gradient(#ff6380, #da2140);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .notice {
    color: $color-error;
    height: 50px;
    text-shadow: 1px 2px 2px #a1a1a1;
  }
  .textInput {
    filter: drop-shadow(1px 3px 1px #686868);
    -webkit-filter: drop-shadow(1px 3px 1px #686868);
  }
  .btn {
    &--container {
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--play {
      font-size: 2rem;
      border-top: none;
      filter: drop-shadow(1px 3px 1px #686868);
      -webkit-filter: drop-shadow(1px 3px 1px #686868);
    }
  }
}
