.rank {
  &--item {
    background-color: #fbdbbb;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px #d7bea7;
    margin: 0 40px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #560000;
    text-shadow: 0px 1px 3px #ae717c;
    border-top: 2px solid #f0cdab;
    display: flex;
    justify-content: space-between;
    td,
    th {
      padding: 10px;
      // overflow: hidden;
      display: flex;
      align-items: center;
    }
  }
  &--one {
    font-size: 1.5rem;
    color: white;
    background-color: #ffc107;
    font-weight: bold;
    margin: 0 30px;
    margin-bottom: 10px;
    text-shadow: 0px 1px 3px #896700;
    border-top: 2px solid #f4ba08;
    td,
    th {
      padding: 15px 10px;
    }
  }
  &--my {
    color: white;
    background-color: #84dce7;
    text-shadow: 0px 1px 3px #006e7b;
    border-top: 2px solid #8cc6cd;
  }
}
