@import '../../scss/global';

.container {
  padding: 0px 30px 20px;
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  color: $color-surface;
  text-shadow: 0px 1px 2px #0000006b;
  font-weight: 600;
  z-index: 1;
}
