// 컬러 override
$color-primary: #fd6e33;
$color-secondary: #848484;
$color-secondary-variant: #444444;
$color-success: #27ae60;
$color-warning: #f00000;
$color-disabled: #e5e5e5;
// 추가 색상 , 보더 등에 사용됨
$color-disabled-variant: #c4c4c4;
$color-background-variant: #f0f0f0;

// 텍스트 관련
$color-on-primary: #fff;
$color-on-secondary: #fff;
$color-on-success: #fff;
$color-on-warning: #fff;
$color-on-disabled: #fff;

$color-on-background-variant: #000;

// 추가 색상 , badge 등에 사용됨
$color-purple: #7372fa;
$color-blue: #22a1fa;

// 사이즈 override
$breakpoints: (
  'large': 1440px,
  'small': 575px
);

$window-sizes: (
  'large': 1440px,
  'small': 375px
);

$content-sizes: (
  'large': 1036px,
  'small': 375px
);
